<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>



<div th:replace="fragments :: navigation"></div>


<table class="table table-striped ">
    <thead>
    <tr>
        <th>date</th>
        <th>department</th>
        <th>location</th>
        <th>sub-location</th>
        <th>hardware</th>
        <th>software</th>
        <th>security</th>
        <th>general maintenance</th>
        <th>model/serial#</th>
        <th>room</th>
        <th>item description</th>
        <th>issue / comments </th>
        <th>action</th>
    </tr>
    </thead>
    <tr>
        <td th:text="${date}"></td>
    </tr>
</table>


</body>
</html>