<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>



<div th:replace="fragments :: navigation"></div>


<form method="post">
    <div class="input-group mb-3 ">
        <div class="form-check">
            <div class="mb-3">
                <label class="form-label">Date:</label><input th:value="${date}" class="form-control" type="date" name="date">
            </div>
            <div class="mb-3">
                <label class="form-label">Department:</label><input th:value="${department}" class="form-control" type="text" name="department">
            </div>
            <div class="mb-3">
                <label class="form-label">Location:</label><input th:value="${location}" class="form-control" type="text" name="location">
            </div>
            <div class="mb-3">
                <label class="form-label">Sub-Location:</label><input th:value="${subLocation}" class="form-control" type="text" name="subLocation">
            </div>
        </div>
    </div>


    <div class="form-check form-check">
        <!-- need to work out spacing of these  -->
        <input  class="form-check-inline" type="checkbox" name="hardware" value="true" th:checked="${hardware}"><input type="hidden" name="hardware" value="false"><label class="form-check-label">Hardware</label>
        <input class="form-check-inline" type="checkbox" name="software" value="true" th:checked="${software}"> <input type="hidden" name="software" value="false"><label class="form-check-label">Software</label>
        <input class="form-check-inline" type="checkbox" name="security" value="true" th:checked="${security}"><input class="form-check-inline" type="hidden" name="security" value="false"><label class="form-check-label">Security</label>
        <input class="form-check-inline" type="checkbox" name="generalMaintenance" value="true" th:checked="${generalMaintenance}"><input class="form-check-inline" type="hidden" name="generalMaintenance" value="false"><label class="form-check-label">General Maintenance</label>
    </div>

    <br>

    <br>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Model/Serial #</th>
            <th scope="col">Room</th>
            <th scope="col">Item Description</th>
            <th scope="col">Issue / Comments</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"><input class="form-control" type="text" name="modNum" th:value="${modNum}"></th>
            <td><input class="form-control" type="text" name="room" th:value="${room}"></td>
            <td><input class="form-control" type="text" name="description" th:value="${description}"></td>
            <td><input class="form-control" type="text" name="comments" th:value="${comments}"></td>
            <td><input class="form-control" type="text" name="action" th:value="${action}"></td>
        </tr>
        <tr>
            <th scope="row"><input class="form-control" type="text" name="modNum1" th:value="${modNum1}"></th>
            <td><input class="form-control" type="text" name="room1" th:value="${room1}"></td>
            <td><input class="form-control" type="text" name="description1" th:value="${description1}"></td>
            <td><input class="form-control" type="text" name="comments1" th:value="${comments1}"></td>
            <td><input class="form-control" type="text" name="action1" th:value="${action1}"></td>
        </tr>
        <tr>
            <th scope="row"><input class="form-control" type="text" name="modNum2" th:value="${modNum2}"></th>
            <td><input class="form-control" type="text" name="room2" th:value="${room2}"></td>
            <td><input class="form-control" type="text" name="description2" th:value="${description2}"></td>
            <td><input class="form-control" type="text" name="comments2" th:value="${comments2}"></td>
            <td><input class="form-control" type="text" name="action2" th:value="${action2}"></td>
        </tr>
        <tr>
            <th scope="row"><input class="form-control" type="text" name="modNum3" th:value="${modNum3}"></th>
            <td><input class="form-control" type="text" name="room3" th:value="${room3}"></td>
            <td><input class="form-control" type="text" name="description3" th:value="${description3}"></td>
            <td><input class="form-control" type="text" name="comments3" th:value="${comments3}"></td>
            <td><input class="form-control" type="text" name="action3" th:value="${action3}"></td>
        </tr>
        <tr>
            <th scope="row"><input class="form-control" type="text" name="modNum4" th:value="${modNum4}"></th>
            <td><input class="form-control" type="text" name="room4" th:value="${room4}"></td>
            <td><input class="form-control" type="text" name="description4" th:value="${description4}"></td>
            <td><input class="form-control" type="text" name="comments4" th:value="${comments4}"></td>
            <td><input class="form-control" type="text" name="action4" th:value="${action4}"></td>
        </tr>
        <tr>
            <th scope="row"><input class="form-control" type="text" name="modNum5" th:value="${modNum5}"></th>
            <td><input class="form-control" type="text" name="room5" th:value="${room5}"></td>
            <td><input class="form-control" type="text" name="description5" th:value="${description5}"></td>
            <td><input class="form-control" type="text" name="comments5" th:value="${comments5}"></td>
            <td><input class="form-control" type="text" name="action5" th:value="${action5}"></td>
        </tr>
        <tr>
            <th scope="row"><input class="form-control" type="text" name="modNum6" th:value="${modNum6}"></th>
            <td><input class="form-control" type="text" name="room6" th:value="${room6}"></td>
            <td><input class="form-control" type="text" name="description6" th:value="${description6}"></td>
            <td><input class="form-control" type="text" name="comments6" th:value="${comments6}"></td>
            <td><input class="form-control" type="text" name="action6" th:value="${action6}"></td>
        </tr>
        <tr>
            <th scope="row"><input class="form-control" type="text" name="modNum7" th:value="${modNum7}"></th>
            <td><input class="form-control" type="text" name="room7" th:value="${room7}"></td>
            <td><input class="form-control" type="text" name="description7" th:value="${description7}"></td>
            <td><input class="form-control" type="text" name="comments7" th:value="${comments7}"></td>
            <td><input class="form-control" type="text" name="action7" th:value="${action7}"></td>
        </tr>
        <tr>
            <th scope="row"><input class="form-control" type="text" name="modNum8" th:value="${modNum8}"></th>
            <td><input class="form-control" type="text" name="room8" th:value="${room8}"></td>
            <td><input class="form-control" type="text" name="description8" th:value="${description8}"></td>
            <td><input class="form-control" type="text" name="comments8" th:value="${comments8}"></td>
            <td><input class="form-control" type="text" name="action8" th:value="${action8}"></td>
        </tr>
        <tr>
            <th scope="row"><input class="form-control" type="text" name="modNum9" th:value="${modNum9}"></th>
            <td><input class="form-control" type="text" name="room9" th:value="${room9}"></td>
            <td><input class="form-control" type="text" name="description9" th:value="${description9}"></td>
            <td><input class="form-control" type="text" name="comments9" th:value="${comments9}"></td>
            <td><input class="form-control" type="text" name="action9" th:value="${action9}"></td>
        </tr>
        <tr>
            <th scope="row"><input class="form-control" type="text" name="modNum10" th:value="${modNum10}"></th>
            <td><input class="form-control" type="text" name="room10" th:value="${room10}"></td>
            <td><input class="form-control" type="text" name="description10" th:value="${description10}"></td>
            <td><input class="form-control" type="text" name="comments10" th:value="${comments10}"></td>
            <td><input class="form-control" type="text" name="action10" th:value="${action10}"></td>
        </tr>
        <tr>
            <th scope="row"><input class="form-control" type="text" name="modNum11" th:value="${modNum11}"></th>
            <td><input class="form-control" type="text" name="room11" th:value="${room11}"></td>
            <td><input class="form-control" type="text" name="description11" th:value="${description11}"></td>
            <td><input class="form-control" type="text" name="comments11" th:value="${comments11}"></td>
            <td><input class="form-control" type="text" name="action11" th:value="${action11}"></td>
        </tr>
        <tr>
            <th scope="row"><input class="form-control" type="text" name="modNum12" th:value="${modNum12}"></th>
            <td><input class="form-control" type="text" name="room12" th:value="${room12}"></td>
            <td><input class="form-control" type="text" name="description12" th:value="${description12}"></td>
            <td><input class="form-control" type="text" name="comments12" th:value="${comments12}"></td>
            <td><input class="form-control" type="text" name="action12" th:value="${action12}"></td>
        </tr>
        <tr>
            <th scope="row"><input class="form-control" type="text" name="modNum13" th:value="${modNum13}"></th>
            <td><input class="form-control" type="text" name="room13" th:value="${room13}"></td>
            <td><input class="form-control" type="text" name="description13" th:value="${description13}"></td>
            <td><input class="form-control" type="text" name="comments13" th:value="${comments13}"></td>
            <td><input class="form-control" type="text" name="action13" th:value="${action13}"></td>
        </tr>
        <tr>
            <th scope="row"><input class="form-control" type="text" name="modNum14" th:value="${modNum14}"></th>
            <td><input class="form-control" type="text" name="room14" th:value="${room14}"></td>
            <td><input class="form-control" type="text" name="description14" th:value="${description14}"></td>
            <td><input class="form-control" type="text" name="comments14" th:value="${comments14}"></td>
            <td><input class="form-control" type="text" name="action14" th:value="${action14}"></td>
        </tr>
        </tbody>
    </table>

    <br>
<!-- need to figure out how to update -->

    <div class="text-center">
        <input type="submit" value="Save" class="text-center">
    </div>

  </form>

</form>

</div>

</body>
</html>