<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"></html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>

        window.addEventListener("load", function() {



            let inputLine = document.getElementById("row1");

            let col1 = document.getElementById("col1")
            let col2 = document.getElementById("col2")
            let col3 = document.getElementById("col3")
            let col4 = document.getElementById("col4")
            let col5 = document.getElementById("col5")


            let addLineButton = document.getElementById("addLine");


            let i = 1



            addLineButton.addEventListener("click", function (event) {
                console.log("HELLO")

                    modNumField = document.createElement("input");
                    modNumField.type = "text";
                    modNumField.className = "mm-control";
                    modNumField.name = "modNumLine" + i;

                    roomField = document.createElement("input");
                    roomField.type = "text";
                    roomField.className = "form-control";
                    roomField.name = "roomLine" + i;

                    descriptionField = document.createElement("input");
                    descriptionField.type = "text";
                    descriptionField.className = "form-control";
                    descriptionField.name = "descriptionLine" + i;

                    commentsField = document.createElement("input");
                    commentsField.type = "text";
                    commentsField.className = "form-control";
                    commentsField.name = "commentsLine" + i;

                    actionField = document.createElement("input");
                    actionField.type = "text";
                    actionField.className = "form-control";
                    actionField.name = "actionLine" + i;


                    col1.appendChild(modNumField);

                    col2.appendChild(roomField);

                    col3.appendChild(descriptionField);

                    col4.appendChild(commentsField);

                    col5.appendChild(actionField);

                    i++

            });
        });
    </script>
    <title>Site Visit</title>
</head>

<body>


<div th:replace="fragments :: navigation"></div>

<br>
<br>

<form method="post">
<div class="input-group mb-3 ">
    <div class="form-check">
            <div class="mb-3">
                <label class="form-label">Date:</label><input class="form-control" type="date" name="date">
            </div>
            <div class="mb-3">
                <label class="form-label">Department:</label><input class="form-control" type="text" name="department">
            </div>
            <div class="mb-3">
                <label class="form-label">Location:</label><input class="form-control" type="text" name="location">
            </div>
            <div class="mb-3">
                <label class="form-label">Sub-Location:</label><input class="form-control" type="text" name="subLocation">
            </div>
    </div>
</div>


    <div class="form-check form-check">
    <!-- need to work out spacing of these  -->
    <input class="form-check-inline" type="checkbox" name="hardware" value="true"><input type="hidden" name="hardware" value="false"><label class="form-check-label">Hardware</label>
       <input class="form-check-inline" type="checkbox" name="software" value="true"> <input type="hidden" name="software" value="false"><label class="form-check-label">Software</label>
        <input class="form-check-inline" type="checkbox" name="security" value="true"><input class="form-check-inline" type="hidden" name="security" value="false"><label class="form-check-label">Security</label>
        <input class="form-check-inline" type="checkbox" name="generalMaintenance" value="true"><input class="form-check-inline" type="hidden" name="generalMaintenance" value="false"><label class="form-check-label">General Maintenance</label>
</div>

<br>

<br>



<h3 class="text-center"></h3>
<div>
    <div class="container" id="row1">
        <div class="row">
            <div class="col" id="col1">
                <label class="form-label font-weight-bold">Model/Serial #</label><input class="form-control" type="text" name="modNum" id="modNum">
                <input class="form-control" type="text" name="modNum1" id="modNum1">
                <input class="form-control" type="text" name="modNum2" id="modNum2">
                <input class="form-control" type="text" name="modNum3" id="modNum3">
                <input class="form-control" type="text" name="modNum4" id="modNum4">
                <input class="form-control" type="text" name="modNum5" id="modNum5">
                <input class="form-control" type="text" name="modNum6" id="modNum6">
                <input class="form-control" type="text" name="modNum7" id="modNum7">
                <input class="form-control" type="text" name="modNum8" id="modNum8">
                <input class="form-control" type="text" name="modNum9" id="modNum9">
                <input class="form-control" type="text" name="modNum10" id="modNum10">
                <input class="form-control" type="text" name="modNum11" id="modNum11">
                <input class="form-control" type="text" name="modNum12" id="modNum12">
                <input class="form-control" type="text" name="modNum13" id="modNum13">
                <input class="form-control" type="text" name="modNum14" id="modNum14">
            </div>
            <div class="col" id="col2">
                <label class="form-label font-weight-bold">Room</label><input class="form-control" type="text" name="room" id="room">
                <input class="form-control" type="text" name="room1" id="room1">
                <input class="form-control" type="text" name="room2" id="room2">
                <input class="form-control" type="text" name="room3" id="room3">
                <input class="form-control" type="text" name="room4" id="room4">
                <input class="form-control" type="text" name="room5" id="room5">
                <input class="form-control" type="text" name="room6" id="room6">
                <input class="form-control" type="text" name="room7" id="room7">
                <input class="form-control" type="text" name="room8" id="room8">
                <input class="form-control" type="text" name="room9" id="room9">
                <input class="form-control" type="text" name="room10" id="room10">
                <input class="form-control" type="text" name="room11" id="room11">
                <input class="form-control" type="text" name="room12" id="room12">
                <input class="form-control" type="text" name="room13" id="room13">
                <input class="form-control" type="text" name="room14" id="room14">
            </div>
            <div class="col" id="col3">
                <label class="form-label font-weight-bold">Item Description</label><input class="form-control" type="text" name="description" id="description">
                <input class="form-control" type="text" name="description1" id="description1">
                <input class="form-control" type="text" name="description2" id="description2">
                <input class="form-control" type="text" name="description3" id="description3">
                <input class="form-control" type="text" name="description4" id="description4">
                <input class="form-control" type="text" name="description5" id="description5">
                <input class="form-control" type="text" name="description6" id="description6">
                <input class="form-control" type="text" name="description7" id="description7">
                <input class="form-control" type="text" name="description8" id="description8">
                <input class="form-control" type="text" name="description9" id="description9">
                <input class="form-control" type="text" name="description10" id="description10">
                <input class="form-control" type="text" name="description11" id="description11">
                <input class="form-control" type="text" name="description12" id="description12">
                <input class="form-control" type="text" name="description13" id="description13">
                <input class="form-control" type="text" name="description14" id="description14">
            </div>
            <div class="col" id="col4">
                <label class="form-label font-weight-bold">Issue / Comments</label><input class="form-control" type="text" name="comments" id="comments">
                <input class="form-control" type="text" name="comments1" id="comments1">
                <input class="form-control" type="text" name="comments2" id="comments2">
                <input class="form-control" type="text" name="comments3" id="comments3">
                <input class="form-control" type="text" name="comments4" id="comments4">
                <input class="form-control" type="text" name="comments5" id="comments5">
                <input class="form-control" type="text" name="comments6" id="comments6">
                <input class="form-control" type="text" name="comments7" id="comments7">
                <input class="form-control" type="text" name="comments8" id="comments8">
                <input class="form-control" type="text" name="comments9" id="comments9">
                <input class="form-control" type="text" name="comments10" id="comments10">
                <input class="form-control" type="text" name="comments11" id="comments11">
                <input class="form-control" type="text" name="comments12" id="comments12">
                <input class="form-control" type="text" name="comments13" id="comments13">
                <input class="form-control" type="text" name="comments14" id="comments14">
            </div>
            <div class="col" id="col5">
                <label class="form-label font-weight-bold">Action</label><input class="form-control" type="text" name="action" id="action">
                <input class="form-control" type="text" name="action1" id="action1">
                <input class="form-control" type="text" name="action2" id="action2">
                <input class="form-control" type="text" name="action3" id="action3">
                <input class="form-control" type="text" name="action4" id="action4">
                <input class="form-control" type="text" name="action5" id="action5">
                <input class="form-control" type="text" name="action6" id="action6">
                <input class="form-control" type="text" name="action7" id="action7">
                <input class="form-control" type="text" name="action8" id="action8">
                <input class="form-control" type="text" name="action9" id="action9">
                <input class="form-control" type="text" name="action10" id="action10">
                <input class="form-control" type="text" name="action11" id="action11">
                <input class="form-control" type="text" name="action12" id="action12">
                <input class="form-control" type="text" name="action13" id="action13">
                <input class="form-control" type="text" name="action14" id="action14">
            </div>
        </div>
    </div>
</div>

<br>

<!--<div class="text-center">-->
<!--    <input type="button" value="Add new line" class="align-self-center" id="addLine">-->
<!--</div>-->

<br>

<div class="text-center">
    <input type="submit" value="Submit" class="text-center">
</div>

</form>

</div>

</body>
</html>