<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: navigation"></div>

<h1>All Site Visits</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID:</th>
        <th>Date:</th>
        <th>Location:</th>
        <th>Sub-Location:</th>
        <th>View / Update Information</th>
        <th>Delete Entry:</th>
    </tr>
    </thead>
    <tr th:each="SiteVisit : ${SiteVisits}">
        <td th:text="${SiteVisit.id}"></td>
        <td th:text="${SiteVisit.date}"></td>
        <td th:text="${SiteVisit.location}"></td>
        <td th:text="${SiteVisit.subLocation}"></td>
        <td><a th:href="@{/home/display/{id}(id=${SiteVisit.id})}" class="nav-link px-2 text-blue">Click Here</a></td>
        <td><form action="#" th:action="@{/home/delete/{id}(id=${SiteVisit.id})}" th:object="${SiteVisit}" method="post">
            <input type="hidden" name="_method" value="Delete" ><input type="submit" value="Delete"
                                                                       class="btn btn-danger"
        ></form></td>
    </tr>
</table>


</body>
</html>