<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>



<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">Model/Serial #</th>
        <th scope="col">Room</th>
        <th scope="col">Item Description</th>
        <th scope="col">Issue / Comments</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row"><input class="form-control" type="text" name="modNum"></th>
        <td><input class="form-control" type="text" name="room"></td>
        <td><input class="form-control" type="text" name="description" ></td>
        <td><input class="form-control" type="text" name="comments"></td>
        <td><input class="form-control" type="text" name="action"></td>
    </tr>
    <tr>
        <th scope="row"><input class="form-control" type="text" name="modNum1"></th>
        <td><input class="form-control" type="text" name="room1"></td>
        <td><input class="form-control" type="text" name="description1"></td>
        <td><input class="form-control" type="text" name="comments1"></td>
        <td><input class="form-control" type="text" name="action1"></td>
    </tr>
    <tr>
        <th scope="row"><input class="form-control" type="text" name="modNum2"></th>
        <td><input class="form-control" type="text" name="room2"></td>
        <td><input class="form-control" type="text" name="description2"></td>
        <td><input class="form-control" type="text" name="comments2"></td>
        <td><input class="form-control" type="text" name="action2"></td>
    </tr>
    <tr>
        <th scope="row"><input class="form-control" type="text" name="modNum3"></th>
        <td><input class="form-control" type="text" name="room3"></td>
        <td><input class="form-control" type="text" name="description3"></td>
        <td><input class="form-control" type="text" name="comments3"></td>
        <td><input class="form-control" type="text" name="action3"></td>
    </tr>
    <tr>
        <th scope="row"><input class="form-control" type="text" name="modNum4"></th>
        <td><input class="form-control" type="text" name="room4"></td>
        <td><input class="form-control" type="text" name="description4"></td>
        <td><input class="form-control" type="text" name="comments4"></td>
        <td><input class="form-control" type="text" name="action4"></td>
    </tr>
    <tr>
        <th scope="row"><input class="form-control" type="text" name="modNum5"></th>
        <td><input class="form-control" type="text" name="room5"></td>
        <td><input class="form-control" type="text" name="description5"></td>
        <td><input class="form-control" type="text" name="comments5"></td>
        <td><input class="form-control" type="text" name="action5"></td>
    </tr>
    <tr>
        <th scope="row"><input class="form-control" type="text" name="modNum6"></th>
        <td><input class="form-control" type="text" name="room6"></td>
        <td><input class="form-control" type="text" name="description6"></td>
        <td><input class="form-control" type="text" name="comments6"></td>
        <td><input class="form-control" type="text" name="action6"></td>
    </tr>
    <tr>
        <th scope="row"><input class="form-control" type="text" name="modNum7"></th>
        <td><input class="form-control" type="text" name="room7"></td>
        <td><input class="form-control" type="text" name="description7"></td>
        <td><input class="form-control" type="text" name="comments7"></td>
        <td><input class="form-control" type="text" name="action7"></td>
    </tr>
    <tr>
        <th scope="row"><input class="form-control" type="text" name="modNum8"></th>
        <td><input class="form-control" type="text" name="room8"></td>
        <td><input class="form-control" type="text" name="description8"></td>
        <td><input class="form-control" type="text" name="comments8"></td>
        <td><input class="form-control" type="text" name="action8"></td>
    </tr>
    <tr>
        <th scope="row"><input class="form-control" type="text" name="modNum9"></th>
        <td><input class="form-control" type="text" name="room9"></td>
        <td><input class="form-control" type="text" name="description9"></td>
        <td><input class="form-control" type="text" name="comments9"></td>
        <td><input class="form-control" type="text" name="action9"></td>
    </tr>
    <tr>
        <th scope="row"><input class="form-control" type="text" name="modNum10"></th>
        <td><input class="form-control" type="text" name="room10"></td>
        <td><input class="form-control" type="text" name="description10"></td>
        <td><input class="form-control" type="text" name="comments10"></td>
        <td><input class="form-control" type="text" name="action10"></td>
    </tr>
    <tr>
        <th scope="row"><input class="form-control" type="text" name="modNum11"></th>
        <td><input class="form-control" type="text" name="room11"></td>
        <td><input class="form-control" type="text" name="description11"></td>
        <td><input class="form-control" type="text" name="comments11"></td>
        <td><input class="form-control" type="text" name="action11"></td>
    </tr>
    <tr>
        <th scope="row"><input class="form-control" type="text" name="modNum12"></th>
        <td><input class="form-control" type="text" name="room12"></td>
        <td><input class="form-control" type="text" name="description12"></td>
        <td><input class="form-control" type="text" name="comments12"></td>
        <td><input class="form-control" type="text" name="action12"></td>
    </tr>
    <tr>
        <th scope="row"><input class="form-control" type="text" name="modNum13"></th>
        <td><input class="form-control" type="text" name="room13"></td>
        <td><input class="form-control" type="text" name="description13"></td>
        <td><input class="form-control" type="text" name="comments13"></td>
        <td><input class="form-control" type="text" name="action13"></td>
    </tr>
    <tr>
        <th scope="row"><input class="form-control" type="text" name="modNum14"></th>
        <td><input class="form-control" type="text" name="room14"></td>
        <td><input class="form-control" type="text" name="description14"></td>
        <td><input class="form-control" type="text" name="comments14"></td>
        <td><input class="form-control" type="text" name="action14"></td>
    </tr>
    </tbody>
</table>



</body>
</html>